<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Pasteboard - Edit</title>
    <script type="text/javascript" src="<%=params[:root] %>/d3.v2.js"></script>
    <script type="text/javascript" src="<%=params[:root] %>/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<%=params[:root] %>/helperFunctions.js"></script>
    <script type="text/javascript" src="<%=params[:root] %>/draw.js"></script>
    <script type="text/javascript" src="<%=params[:root] %>/interactions.js"></script>
    <script type="text/javascript" src="<%=params[:root] %>/ajax.js"></script>
    <link rel="stylesheet" type="text/css" href="<%=params[:root] %>/gluestick-ui.css" />
  </head>
  <body>
    <div id="chart" style = "height:100%">
	    <a href = "#" id = "pageLeft">PREV</a>
	    <a href = "#" id = "pageRight">NEXT</a>
	</div>
    <script type="text/javascript" src="<%=params[:root] %>/front.js"></script>
  </body>
</html>